@{
    ViewData["Title"] = "Logged in User";
}
<h2>@ViewData["DisplayName"]</h2>

<h3>@ViewData["UserPrincipalName"]</h3>
<h3>@ViewData["Mail"]</h3>

<h3>User Info:</h3>
<div>
    @ViewData["me"]
</div>